* {
  background-color: antiquewhite;
}
h1 {
  text-align: center;
  font-family: 'Chalkduster';
  font-size: 35pt;
}

h2 {
  text-align: center;
  font-family: 'Impact';
}

.room {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.lightswitch {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  background-size: contain;
}

.lightbulb {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  background-size: contain;
}

